@model instagram.ViewModels.CreatePublicationViewModel

@{
    ViewData["Title"] = "CreatePost";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<div class="text-center container col-4">
    <h1>Create post</h1>
    <form method="post" asp-controller="Publication" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="Photo">Choose a photo to post:</label><br />
        <div>
            <input name="Photo" type="file" class="form-control" />
        </div><br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Coment</span>
            </div>
            <input type="text" class="form-control" asp-for=" Coment">
        </div><br />
        <div class="">
            <input class="btn btn-outline-info btn-block" type="submit" value="Create" />
        </div>
    </form>
</div>