@model IEnumerable<instagram.Models.Post>
@{
    ViewData["Title"] = "Feed";
}

<h3 class="display-4">Feed</h3>
@if (@Model.Any())
{
    @foreach (var post in @Model)
    {
        <div class="card bg-light justify-content-center text-center text-black-50">
            <div class="card-img">
                <img style='width:70%; height:70%;' src="data:image/jpeg;base64,@(Convert.ToBase64String(post.Photo))" />
            </div>
            <div class="card-footer">
                <h5>(@post.dateTime)~@post.UserName says: @post.Coment</h5>
            </div>
        </div>
        <br />
    }
}
