
@{
    ViewData["Title"] = "Email send";
}

<h1 class="display-4">(~*з*)~Thanks for joining us!~(*w*~)</h1>
<h1 class="display-4">You need to follow the link in letter we send you to finish registration.</h1>

